@import url('https://fonts.googleapis.com/earlyaccess/notokufiarabic.css'); #sidebar * { scrollbar-width: thin; scrollbar-color: #ef6c2f; } 
#sidebar *::-webkit-scrollbar { width: 10px; } 
#sidebar *::-webkit-scrollbar-track { background: #fdd734; } 
#sidebar *::-webkit-scrollbar-thumb { background-color: #ef6c2f; border-radius: 0px; border: 1px solid #fdd734; } 

@font-face { font-family: 'Verlag'; src: url('../fonts/verlag-book.eot'); src: url('../fonts/verlag-book.eot?#iefix') format('embedded-opentype'),
 url('../fonts/verlag-book.woff2') format('woff2'),
 url('../fonts/verlag-book.woff') format('woff'),
 url('../fonts/verlag-book.ttf') format('truetype'),
 url('../fonts/verlag-book.svg#verlag-book') format('svg'); font-weight: 400; font-style: normal; font-display: swap; } 

@font-face { font-family: 'Verlag'; src: url('../fonts/verlag-bold.eot'); src: url('../fonts/verlag-bold.eot?#iefix') format('embedded-opentype'),
 url('../fonts/verlag-bold.woff2') format('woff2'),
 url('../fonts/verlag-bold.woff') format('woff'),
 url('../fonts/verlag-bold.ttf') format('truetype'),
 url('../fonts/verlag-bold.svg#verlag-bold') format('svg'); font-weight: bold; font-style: normal; font-display: swap; } 

@font-face { font-family: 'Verlag'; src: url('../fonts/verlag-light.eot'); src: url('../fonts/verlag-light.eot?#iefix') format('embedded-opentype'),
 url('../fonts/verlag-light.woff2') format('woff2'),
 url('../fonts/verlag-light.woff') format('woff'),
 url('../fonts/verlag-light.ttf') format('truetype'),
 url('../fonts/verlag-light.svg#verlag-light') format('svg'); font-weight: 300; font-style: normal; font-display: swap; } 



/* ==========================================================================
Global Settings
========================================================================== */

/*
* Remove text-shadow in selection highlight.
*/
::-moz-selection { background: #b3d4fc; text-shadow: none; } 
::selection { background: #b3d4fc; text-shadow: none; } 

/*
* Body settings, change it as required
*/
body { font-size: 16px; line-height: 1.2; color: #3f4040; font-family: 'Verlag' ,Arial, 'Helvetica Neue', Helvetica, sans-serif; text-rendering: optimizeLegibility; } 
h1, h2, h3, h4, h5, h6 { margin-top: 0px; font-weight: bold; } 
p { margin-top: 0; } 

/*
* Links
*/
a, a:hover { text-decoration: none; transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 

/*
* A better looking default horizontal rule
*/
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; } 

/*
* Remove the gap between images and the bottom of their containers.
*/
img { vertical-align: middle; max-width: 100%; height: auto; -ms-interpolation-mode: bicubic; } 

/*
* Allow only vertical resizing of textareas.
*/
textarea { resize: none; } 

/*
* Other
*/
*:focus { outline: none !important; } 

/* ==========================================================================
Helper classes
========================================================================== */

img.alignleft { float: left; margin: 0 10px 10px 0; display: block; } 
img.alignright { float: right; margin: 0 0px 10px 10px; display: block; } 
img.aligncenter { display: block; margin-left: auto; margin-right: auto; margin-bottom: 10px; } 
.hidden { display: none !important; visibility: hidden; } 
.clear { clear: both; height: 1px; line-height: 1px; } 

/*
* Other
*/

/* ==========================================================================
Layout
========================================================================== */
#container { min-width: 320px; overflow-x:hidden; background: url("../images/container-bg-global.png") no-repeat top right; } 
.home #container { background: url("../images/container-bg.png") no-repeat top right; } 
@media screen and (min-width:1500px){
 .container { max-width: 1605px !important; } 
 }
 @media screen and (min-width:1199px){
 .container { max-width: calc(100% - 40px); } 
 }
#content { padding-bottom: 25px; position: relative; min-height: 430px; } 

@media screen and (max-width:767px){
 #content { min-height: inherit; } 
 }

#top { background:#f3f4f6; padding-top: 11px; padding-bottom: 12px; } 
#top .language { color: #39b04e; font-size: 14px; font-weight: 700; margin-top: 5px; font-family: "Noto Kufi Arabic", MuseoSans, Arial, Helvetica, sans-serif !important; } 
.action-list { margin-bottom:0px; margin-right: 42px; } 
.action-list li { font-size: 13px; font-weight: 400; vertical-align: top; letter-spacing: 0.52px; line-height: normal; display: inline-block; position: relative; } 
.action-list li:after { content:"|"; color: #aebcce; font-size: 17px; font-style: normal; font-weight: 300; letter-spacing: 0.68px; line-height: normal; vertical-align: middle; margin-left:14px; margin-right:14px; } 
.action-list li:last-child:after { display:none; } 
.action-list li small { font-size: 100%; } 
.action-list li a { color: #222222; margin: 0 3px; } 
.action-list li a:hover { color: #3cb8eb; } 
.action-list li i , .action-list li span { display:inline-block; vertical-align: middle; } 
.action-list li i { margin-right: 3px; } 
@media screen and (max-width:1199px){
 .action-list { display:inline-block; } 
 .action-list li { margin-bottom: 5px; } 
 }
 @media screen and (max-width:767px){
 .action-list { margin-right: 0; } 
 .action-list li:first-child, .action-list li small { display: none; } 
 .action-list li:after { margin: 0 2px; } 
 .action-list li i { margin-right: 0px; } 
 #top .language { float: right; } 
 }

#header { padding-top: 13px; padding-bottom: 25px; } 
@media screen and (max-width:767px){
 .logo img { max-width: 180px; } 
 }
#footer { background: url(../images/footer-pattern.png) no-repeat; background-size: cover; background-position: center center; padding-top:24px; padding-bottom: 31px; position: relative; z-index: 1; } 
#footer .logo { display:inline-block; margin-bottom: 30px; } 
#footer .nav-list li { font-size: 16px; font-weight: bold; letter-spacing: 0.32px; line-height: normal; margin-bottom: 20px; } 
#footer .nav-list a { color: #7b4b22; } 
#footer .nav-list a:hover { color:#3cb8eb; } 
#footer .follow-us { float: right; } 

.sociable li { display: inline-block; font-size:30px; margin-right: 31px; } 
.sociable a { color: #7b4b22; } 
.sociable a:hover { color:#3cb8eb; } 
#footer p { color: #222222; font-size: 16px; font-weight: bold; letter-spacing: normal; line-height: normal; letter-spacing: 0.32px; } 
#footer .copyright { font-size: 12px; color: #222222; font-weight: 300; float: left; padding-top: 5px; } 
#footer h6 { color: #222222; font-size: 19px; padding-top: 24px; font-weight: 700; font-style: normal; letter-spacing: normal; line-height: normal; letter-spacing: 0.38px; margin-bottom: 20px; } 
@media screen and (max-width:1500px){
 .sociable li { margin-right: 20px; } 
 }
 @media screen and (max-width:992px){
 #footer .follow-us { float:none; } 
 }
@media screen and (max-width:767px){
 .sociable li { font-size: 26px; } 
 #footer .col-xl-3.col-lg-7 { text-align: center; } 
 #footer h6 { padding-top: 0; } 
 #footer form { margin-bottom: 20px; } 
 #footer .row .col-12 { text-align: center; } 
 #footer .copyright { float: none; margin-bottom: 0; padding-top: 10px; } 
 }
 #main-navigation { padding-left: 25px; padding-top: 33px; } 
#main-navigation ul { display: inline-block; margin-bottom: 0; } 
#main-navigation ul li { display: inline-block; font-size: 19px; font-weight: 700; margin-right: 60px; } 
#main-navigation ul li:last-child { margin-right: 0px; } 
#main-navigation ul li a { color: #222222; } 
#main-navigation ul li.active a , #main-navigation ul li:hover a { color: #3cb8eb; } 
@media screen and (max-width: 1599px){
 #main-navigation ul li { font-size: 16px; margin-right: 25px; } 
 }
@media screen and (max-width: 1199px){
 #main-navigation { padding-top: 104px; text-align: center; background: rgba(0,0,0,.95); width: 100%; height: 100vh; position: fixed; left: 0; top: -100vh; z-index: 159; transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -ms-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
 #main-navigation ul { display: none; padding-left: 30px; padding-right: 30px; overflow: auto; height: 100%; position: relative; } 
 #main-navigation ul li { display: block; text-align: center; display: block; margin-bottom: 15px; margin-left: 0px; margin-right: 0px; } 
 #main-navigation ul li a { border: none !important; color: #fff; padding: 10px 15px; border-radius: 7px; display: block; } 
 #main-navigation ul li a:hover { color: #fff; } 
 #main-navigation ul li.active a, #main-navigation ul li:hover a { background-color: #7b4b22; color: #ffffff; } 
 #main-navigation.open { top: 0px; transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -ms-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
 .search-form { margin-right: 80px; } 
 }

.menu-btn { display: none; padding: 0px; border: 0; background: none; position: absolute; right: 15px; top: -43px; } 
.menu-btn span.line { display: block; height: 5px; width: 33px; position: relative; margin: 6px 0; background: #7b4b22; transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -ms-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
.menu-btn span:first-child { transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
.menu-btn span:last-child { transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
.menu-btn:focus { outline: none; } 
.menu-btn.active { top: 25px; position: fixed; z-index: 10000; } 
.menu-btn.active span:first-child { left: 0; top: 0px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); } 
.menu-btn.active span:last-child { left: 1px; bottom: 22px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); } 
.menu-btn.active span:nth-child(2) { opacity: 0; } 
.menu-btn.active span.line { background: #ffffff; } 

@media screen and (max-width: 1200px){
 .menu-btn { display: inline-block; vertical-align: bottom; } 
 }
 @media screen and (max-width: 992px){
 .menu-btn { top: -76px; } 
 #main-navigation { padding-top: 70px; } 
 #main-navigation ul li { margin-bottom: 4px; } 
 }
 @media screen and (max-width: 767px){
 .menu-btn { top: -57px; } 
 }

/* ==========================================================================
Common Functionalities & UI Elements
========================================================================== */
/*
* Typography
*/
h1 { font-size: 38px; margin-bottom: 16px; } 
h2 { font-size: 30px; margin-bottom: 16px; } 
h3 { font-size: 27px; margin-bottom: 16px; } 
h4 { font-size: 23px; margin-bottom: 16px; } 
h5 { font-size: 17px; margin-bottom: 16px; } 
h6 { font-size: 14px; margin-bottom: 16px; } 
p { line-height: 1.25; margin-bottom: 16px; } 
p.lead { font-size: 20px; line-height: 1.6; } 
@media screen and (max-width: 767px) { h1 { font-size: 30px; margin-bottom: 16px; } 
h2 { font-size: 26px; margin-bottom: 16px; } 
 }
/* Lists ---------------------- */
 ul, ol { margin-bottom: 16px; list-style-position: outside; } 
 ul li ul, ul li ol { margin-left: 20px; margin-bottom: 0; } 
 ol { margin-left: 20px; } 
 ol li ul, ol li ol { margin-left: 20px; margin-bottom: 0; } 

.selectbox select { background: transparent; padding: 18px 36px 12px 10px; font-size: 1rem; line-height: 1.21429rem; color: #6e6e6e; cursor: pointer; border: 0; border-radius: 0; height:60px; width: 100%; appearance: none; -moz-appearance: none; -webkit-appearance: none; } 
.selectbox:before { content: ""; display: block; border-left: 5px solid transparent; border-right: 5px solid transparent; width: 0; height: 0; border-top: 5px solid#6e6e6e; position: absolute; right: 20px; top: 32px; z-index: 1; pointer-events: none; } 
.selectbox { display: block; position: relative; max-width: 324px; width: 100%; min-height: 60px; background: url(../images/selectbox-bg.png) no-repeat; background-size: 100% 100%; } 
#back-to-top { width: 40px; line-height: 40px; overflow: hidden; z-index: 999; display: none; cursor: pointer; position: fixed; bottom: 22px; right: 30px; text-decoration: none; } 

.search-form { position: relative; float: right; padding-top: 35px; } 
.search-form:after { right: 27px; content: ""; background: url(../images/search.png) no-repeat; width: 21px; height: 21px; position: absolute; top: 48px; } 
.search-form input { border: none; padding: 15px 55px 12px 20px; background: url(../images/selectbox-bg.png) no-repeat; background-size: 100% 100%; width: 300px; height: 48px; } 
@media screen and (max-width:1500px){
 #back-to-top { right:5px; } 
 }
@media screen and (max-width:991px){
 #back-to-top { bottom:15px; } 
 }
 @media screen and (max-width:767px){
 .selectbox { max-width: inherit; } 
 }

 /* box1 */
.box1 { padding-top: 15px; margin-bottom: 100px; } 
.box1-wrapper hr { margin-top: 107px; margin-bottom: 57px; border-color: #e0e0e0; } 
.box1 .box-header { margin-bottom: 41px; } 
.box1 .box-header h2 { font-size: 30px; font-weight: 700; line-height: normal; letter-spacing: 1.2px; } 
.box1 .box-header .link-secondary { color: #39b04e; font-size: 16px; font-weight: 700; font-style: normal; letter-spacing: 0.64px; line-height: normal; } 
.box1 .box-header .link-secondary span { color: #39b04e; font-size: 18px; font-weight: 700; font-style: normal; letter-spacing: 0.72px; line-height: normal; vertical-align: bottom; } 
.box1 .box-header .link-secondary:hover { color: #3cb8eb; } 
@media screen and (max-width:1199px){
 .box1 { margin-bottom: 50px; } 
 .box1-wrapper hr { margin-top:50px; margin-bottom:50px; } 
 }
@media screen and (max-width:767px){
 .box1 { margin-bottom: 25px; } 
 .box1-wrapper hr { margin-top:25px; margin-bottom:25px; } 
 }
@media screen and (max-width:767px){
 .box1 .box-header { margin-bottom: 16px; } 
.box1 .box-header h2 { font-size: 22px; margin-bottom: 8px; } 
 }
/*
* Carousel Default
*/
 
 .carousel .owl-dots { display: none !important; } 
 .carousel .owl-nav { position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); z-index: 2; width: 100%; margin-top: -16px; } 
 .carousel .owl-nav button { border: none; background: transparent; width: 8px; height: 17px; color: #b1bed0 !important; } 
 .carousel .owl-nav button span { display: none; } 
 .carousel .owl-nav button:focus { outline: none; } 
 .carousel .owl-nav .owl-next { position: absolute; right: -30px; } 
 .carousel .owl-nav .owl-prev { position: absolute; left: -30px; } 
 .carousel .product-image img , .products .product-image img { max-height: 363px; height:100%; object-fit:cover; object-position:center center; border: 1px solid #e0e0e0; width: 100%; } 
 .carousel .prod-notification , .products .prod-notification { position: absolute; top: 14px; right: 23px; z-index: 1; } 
 .carousel .product-description , .products .product-description { background:#f9f9f9; text-align: center; padding: 18px 5px; } 
 .carousel .product-description h5 , .products .product-description h5 { color: #222222; font-size: 19px; font-weight: 700; letter-spacing: 0.38px; line-height: normal; padding: 0 15px; } 
 .carousel .carousel-inner { position: relative; } 
 .products { margin: 0 -14px 20px; } 
 .products .item { float:left; width: 33.33%; padding:0 14px; margin-bottom: 40px; } 
 @media screen and (max-width: 1200px){
 .products .item { width: 50%; } 
 }
 @media screen and (max-width: 767px){
 .carousel .item , .products .item { float: none; width: 100%; } 
 }

 .price { color: #ef6c2f; font-size: 21px; font-weight: 700; line-height: 31px; text-transform: uppercase; } 
 .price .currency { color: #222222; font-size: 17px; } 
 .badge-secondary { color: #ffffff; font-size: 12px; text-transform: uppercase; letter-spacing: 0.48px; display:inline-block; background:#d20a0a; padding: 6px 8px; } 

 .button { color: #ffffff; background:#ef6c2f; font-size: 11px; font-weight: 700; text-transform: uppercase; font-style: normal; letter-spacing: 0.16px; line-height: normal; padding: 10px 17px; display: inline-block; } 
 .button:hover { color: #ffffff; background:#3cb8eb; } 

 .list1 { display:flex; justify-content: center; flex-wrap: wrap; } 
 .list1 li { margin:0 -5px 15px; text-align: center; } 
 .list1 li p { color: #37383c; font-size: 15px; text-align:center; display:block; font-weight: bold; letter-spacing: 0.3px; line-height: normal; padding-top:15px; padding-bottom:15px; } 
 .list1 li figure { position: relative; width: 210px; height: 180px; } 
 .list1 li figure:before { z-index:-1; background: url(../images/brands-bg1.png) no-repeat top left; background-size:100% 100%; top:0; left:0; width: 100%; height: 100%; position: absolute; content: ''; } 
 .list1 li:nth-child(even) figure:before { z-index:-1; background: url(../images/brands-bg2.png) no-repeat top left; top:0; left:0; width: 100%; height: 100%; position: absolute; content: ''; } 
 .list1 li img { position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%); } 

 @media screen and (max-width:1300px){
 .list1 li { margin: 0 30px 15px; } 
 }
 /* shop */
 .brand { margin-bottom: 51px; padding-top: 44px; } 
 /* featured */
 .featured { margin-bottom: 126px; } 
 @media screen and (max-width:1199px){
 .brand { margin-bottom: 32px; } 
 .featured { margin-bottom: 70px; } 
 .list1 li { margin: 0 10px 15px; } 
 }
 @media screen and (max-width:992px){
 .list1 { margin: 0 -35px; } 
 .list1 li { margin: 0 -5px 15px; } 
 }
 @media screen and (max-width:767px){
 .brand { margin-bottom: 20px; } 
.featured { margin-bottom: 35px; } 
.list1 { margin: 0; } 
.list1 li { margin: 0 0 15px; width: 50%; } 
 }
 @media screen and (max-width:575px){
 .featured { margin-bottom: 16px; } 
 .list1 li figure { width: 100%; } 
 }


 .box2 { background: url("../images/box2-bg.png") no-repeat; background-size: cover; margin-bottom: 121px; padding: 94px 98px 44px 98px; } 
 .box2 .row { margin-right: -25px; margin-left: -25px; } 
 .box2 .row>.col,.box2 .row>[class*=col-] { padding-right: 25px; padding-left: 25px; margin-bottom:20px; } 
 .box2 .box-header { margin-bottom: 38px; } 
 .box2 .box-header h2 { font-size: 30px; color: #ffffff; font-weight: 700; line-height: normal; letter-spacing: 1.2px; } 
 .box2 .box-header .link-secondary { color: #754318; font-size: 16px; font-weight: 700; font-style: normal; letter-spacing: 0.64px; line-height: normal; } 
 .box2 .box-header .link-secondary span { color: #754318; font-size: 18px; font-weight: 700; font-style: normal; letter-spacing: 0.72px; line-height: normal; vertical-align: bottom; } 
 .box2 .box-image img { width:100%; } 
 .box2 .box-description { padding-top:34px; padding-bottom:10px; } 
 .box2 .box-description h3 { color: #ffffff; font-size: 22px; font-weight: 700; font-style: normal; letter-spacing: 0.44px; line-height: normal; } 
 .box2 .box-description p { color: #ffffff; font-size: 17px; font-weight: 300; font-style: normal; letter-spacing: 0.34px; line-height: normal; margin-bottom: 25px; } 
 .box2 .box-description a { color: #754318; font-size: 19px; font-weight: 700; font-style: normal; letter-spacing: normal; line-height: normal; } 
 .box2 .box-description a:hover { color:#3cb8eb; } 

 @media screen and (max-width:1199px){
 .box2 { padding: 150px 25px 44px 25px; background-position: top !important; } 
 .box2 .row { margin-right: -15px; margin-left: -15px; } 
 .box2 .row>.col,.box2 .row>[class*=col-] { padding-right: 15px; padding-left: 15px; margin-bottom:20px; } 
 }
 @media screen and (max-width:767px){
 .box2 { padding: 75px 15px 20px 15px; margin-bottom: 30px; } 
 .box2.box-header { margin-bottom: 16px; } 
 .box2 .box-header h2 { font-size: 22px; margin-bottom: 8px; } 
 }
 

 /*
* Carousel2 
*/
.carousel2 { position: relative; } 
.carousel2 .item { float: left; margin-bottom: 7px; width: 100%; position: relative; display:none; } 
.carousel2 .item:first-child { display: block; } 
.carousel2 .owl-item .item { display: block; } 
.carousel2 .owl-item { min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-touch-callout: none; } 
.carousel2 .owl-stage-outer { position: relative; overflow: hidden; -webkit-transform: translate3d(0, 0, 0); } 
.carousel2 .owl-nav { position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); z-index: 2; width: 100%; margin-top: -28px; } 
.carousel2 .owl-nav button { border: none; background: transparent; font-size: 25px; padding: 0; color: #aebcce; transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
.carousel .owl-nav button:hover , .carousel2 .owl-nav button:hover { color: #39b04e !important; transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
.carousel .owl-nav button span { display: none; } 
.carousel .owl-nav button:focus { outline: none; } 
.carousel2 .owl-nav .owl-next { right: -30px; position: absolute; } 
.carousel2 .owl-nav .owl-prev { left: -30px; position: absolute; } 
.carousel2 .product-image img { max-height: 363px; height:100%; object-fit:cover; object-position:center center; border: 1px solid #e0e0e0; width: 100%; } 
.carousel2 .prod-notification { position: absolute; top: 14px; right: 23px; z-index: 1; } 
.carousel2 .product-description { background:#f9f9f9; text-align: center; padding: 18px 5px; } 
.carousel2 .product-description h5 { color: #222222; font-size: 19px; font-weight: 700; letter-spacing: 0.38px; line-height: normal; } 
.carousel2 .carousel-inner { position: relative; } 
.carousel-inner img { max-height: 660px; min-height: 350px; object-fit: cover; } 
.home .carousel2 .carousel-inner img { min-height: 300px; } 
.carousel2 .owl-dots { text-align: center; padding-top: 13px; } 
.carousel2 .owl-dots .owl-dot { width: 12px; height: 12px; display:inline-block; border-radius:50%; background-color: #c5c5c5; padding: 0; border:none; margin-left:5px; margin-right:5px; } 
.carousel2 .owl-dots .owl-dot.active { background-color: #797979; } 
@media screen and (max-width: 767px){
 .carousel2 .item { float: none; } 
 .carousel2 .owl-nav .owl-next ,.carousel .owl-nav .owl-next { right: -15px; } 
 .carousel2 .owl-nav .owl-prev ,.carousel .owl-nav .owl-prev { left: -15px; } 
 .carousel-inner img { min-height: 200px; } 
 }

#banner { position: relative; } 
#banner .banner-description { position: absolute; top:0; right:0; max-width: 502px; max-height: 633px; height:100%; width:100%; padding: 40px 25px 25px 179px; } 
.home #banner .banner-description { padding: 188px 25px 25px 179px; } 
#banner .banner-description:after { content:''; width: 502px; background: #ef6c2f; height: 100%; position: absolute; top: 0; right: 0; clip-path: polygon(26% 0, 100% 0, 100% 100%, 0 66%); } 
.home #banner .banner-description:after { background: #3CB8EB; clip-path: polygon(46% 0, 100% 0, 100% 100%, 0 76%) } 
#banner.listing-page .banner-description:after { background: #d74896; } 
#banner.faq-page .banner-description:after { background: #3CB8EB; } 
#banner.category-page .banner-description:after { background: #d74896; } 
#banner.brands-page .banner-description:after { background: #39b04e; } 
#banner .banner-description .text { position: absolute; top: 50%; right: 0; width: 65%; transform: translateY(-50%); z-index: 100; margin-top: -25px; } 
#banner .banner-description h1 { color: #222222; font-size: 35px; font-weight: 700; line-height: 1; } 
.home #banner .banner-description h1 { font-size:45px; } 
#banner .banner-description p { color: #222222; font-size: 22px; font-weight: 300; line-height: 1.2; letter-spacing: 0.44px; } 
@media screen and (max-width: 1300px){
 #banner .banner-description , .home #banner .banner-description { padding: 110px 25px 25px 240px; } 
 #banner .banner-description h1 , .home #banner .banner-description h1 { font-size: 26px; } 
 #banner .banner-description p { font-size: 18px; } 
 #banner .banner-description:after { width: 435px; clip-path: polygon(29% 0, 100% 0, 100% 100%, 0 76%); } 
 }
@media screen and (max-width: 991px){
 #banner .banner-description, .home #banner .banner-description { position: static; background:#ef6c2f; width: 100%; max-width: 100%; padding: 20px 20px; } 
 .home #banner .banner-description { position: static; background:#3cb8eb; } 
 #banner.listing-page .banner-description { background: #d74896; } 
 #banner.faq-page .banner-description { background: #3CB8EB; } 
 #banner.brands-page .banner-description { background: #39b04e; } 
 #banner.category-page .banner-description { background: #d74896; } 
 #banner .banner-description:after { display: none; } 
 #banner .banner-description h1 br { display: none; } 
 }
 
.animated { -webkit-animation-duration : 1000 ms; animation-duration : 1000 ms; -webkit-animation-fill-mode : both; animation-fill-mode : both; } 
 .owl-animated-out { z-index : 1 } 
 .owl-animated-in { z-index : 0 } 
 .fadeOut { -webkit-animation-name : fadeOut; animation-name : fadeOut; } 
 @-webkit-keyframes fadeOut { 
 0% { opacity : 1; } 
 100% { opacity : 0; } 
 }
 @keyframes fadeOut { 
 0% { opacity : 1; } 
 100% { opacity : 0; } 
 }

 .fadeIn { -webkit-animation-name : fadeIn; animation-name : fadeIn; } 
 @-webkit-keyframes fadeIn { 
 0% { opacity : 0; } 
 100% { opacity : 1; } 
 }
 @keyframes fadeIn { 
 0% { opacity : 0; } 
 100% { opacity : 1; } 
 }

 .wishlist-trigger , .wishlist-trigger:hover { color: #fccb36; } 
 .wishlist-trigger:hover .fa-heart-o:before { content: "\f004"; } 
 #main header .pagination { float: left; padding-top: 18px; } 
 #main header .sort { float: right; } 
 #main header .sort p { display: inline-block; margin-right: 5px; } 
 #main header .sort .dropdown { display: inline-block; } 
 #main header .sort .dropdown > a { background: url("../images/sort-by-bg.png") no-repeat top left; background-size: 100% 100%; height: 50px; min-width: 231px; display: block; text-align: left; padding: 15px 10px 0; font-size: 16px; margin-bottom: 20px; } 
 #main header .sort .dropdown > a:focus { box-shadow: none; } 
 #main header .sort .dropdown > a:after { position: absolute; top: 25px; right: 15px; } 
 #main header .sort .dropdown .dropdown-menu { width: 100%; padding: 0; } 
 #main header .sort .dropdown .dropdown-menu a { padding: 10px; } 
 #main header .sort .dropdown .dropdown-menu a:hover { background-color: #3cb8eb; } 
 #main footer { text-align: center; margin-bottom: 30px; } 
 #main footer .pagination { margin-bottom: 20px; } 
 #main footer a { font-size: 28px; font-weight: 700; color: #39b04e; } 
 #main footer a:hover { color: #3cb8eb; } 
 #sidebar { background: #fff; border:1px solid #e0e0e0; position: relative; } 
 #sidebar .widget { padding:0 25px 15px; margin-bottom: 15px; width:100%; overflow: hidden; } 
 #sidebar .widget h2 { font-size:19px; color:#222222; font-weight: bold; text-transform: capitalize; margin-bottom: 20px; } 
 #sidebar .widget ul { list-style: none; padding: 0; margin: 0 0 15px; max-height: 140px; overflow: auto; } 
 #sidebar .widget ul li { margin-bottom: 10px; color: #222222; font-size: 16px; } 
 #sidebar .widget ul input { margin-right: 12px; top: 2px; position: relative; } 
 #sidebar .widget a.more { float: right; color: #18a118; font-size: 12px; } 
 #sidebar .widget a.more i { margin-left: 5px; font-size: 15px; } 
 #sidebar .widget .min { float: left; } 
 #sidebar .widget .max { float: right; text-align: right; } 
 #sidebar .widget .min p , #sidebar .widget .max p { color:#222222; font-size: 14px; font-weight: 700; } 
 #sidebar header { text-align: center; border-bottom :1px solid #e0e0e0; margin-bottom: 25px; } 
 #sidebar header button { border:0; background: transparent; line-height: 42px; color: #39b04e; font-size: 16px; } 

 #sidebar .widget .min p span , #sidebar .widget .max p span { font-size:17px } 
 #sidebar .widget img { vertical-align: top; margin-right: 5px; } 
 #slider-range { clear: both; margin-bottom: 20px; } 
 .ui-slider-horizontal { height: 6px; } 
 .ui-slider-horizontal .ui-slider-range { background: #fdd734; border: 0; } 
 .ui-slider-horizontal .ui-slider-handle { background: #ef6c2f; top: -7px; border: 0; width: 10px; } 
 #content .col-lg-3 { position: relative; } 
 #content .col-lg-3 .filters { position: absolute; top: -55px; right: 15px; font-size: 15px; color: #000; display: none; } 
 #content .col-lg-3:before { content: ''; position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, .6); width: 100%; height: 100%; z-index: 100; display: none; } 
#sidebar .close { position: absolute; top: 5px; right: 5px; color: #f02f1e; display: none; } 
#content:before { z-index: 1000; background: rgba(0, 0, 0, .6); position: fixed; top: 0; left:0; width: 100vw; height: 100vh; content:''; display: none; } 
.filters { text-align:right; color: #39b04e; font-size: 16px; display: none; margin-bottom: 20px; } 
p.pagination strong { font-weight: bold; padding: 0 5px; } 

 @media (max-width: 1200px){
 #main .product-list li { width: 50%; } 
 #sidebar .widget { padding: 0px 10px 15px; } 
 #sidebar .widget h2 { margin-bottom: 12px; } 
 #sidebar .widget ul input { margin-right: 6px; } 
 #sidebar footer { padding: 10px 15px 1px; } 
 #sidebar footer button { width: 80px; line-height: 34px; height: 34px; } 
 .deals .display-3 { font-size: 34px; } 
 }
 @media (max-width: 992px){
 #sidebar { position: absolute; top: 0; left: -100%; z-index: 1000; width: calc(100% - 30px); overflow: auto; transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; z-index: 1000; } 
 .sidebar-open #sidebar { left: 15px; transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
 .sidebar-open #content:before { display: block; } 
 .sidebar-open #content .col-lg-3:before , .sidebar-open #sidebar .close { display: block; } 
 #content .col-lg-3 .filters { display: block; } 
 .filters { display: block; } 
 }
 @media (max-width: 767px){
 #main header .sort { float: none; clear: both; } 
 }
 #breadcrumbs { padding:40px 0; } 
 #breadcrumbs p { margin-bottom: 0; } 
 #breadcrumbs p span { font-size:14px; color: #222222; margin-left: 5px; } 
 #breadcrumbs a { font-size:14px; color: #41b355; margin-right: 5px; } 
 #breadcrumbs a:hover { color:#3cb8eb; } 
 @media (max-width: 992px){
 #breadcrumbs { padding:40px 0 10px; } 
 }

 .faq h3 { font-weight: normal; font-weight: 300; font-size: 22px; border-bottom: 1px solid #e0e0e0; padding:20px 0; cursor: pointer; margin-bottom: 0px; position: relative; padding-right: 40px; } 
 .faq h3:before { transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; transform:rotate(0); content: "\f107"; font-family: "FontAwesome"; position: absolute; top: 15px; right: 0; font-size: 30px; color: #38b04e; } 
 .faq h3.active { border-bottom-color: #fff; } 
 .faq h3.active:before { transform:rotate(-180deg); transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
 .faq .content { display: none; border-bottom: 1px solid #e0e0e0; } 
 .faq .content p { color: #222222; } 

 /**
Product Info
 */
 .product-info { border:1px solid #e0e0e0; padding: 50px; margin-bottom: 75px; } 
 #myTab { border: 0; margin-bottom: 50px; } 
 #myTab li a { font-size: 22px; font-weight: bold; margin-right: 25px; padding-bottom: 30px; border-bottom: 4px solid #fff; color: #222222; display: block; } 
 #myTab li.parent a ,#myTab li:hover a { border-bottom-color: #47bcec; } 
 #myTab li.parent a ,#myTab li:hover a { color: #47bcec; } 
 #myTabContent li::marker { color: #47bcec; } 
 #myTabContent p { margin-bottom: 25px; } 
 #myTabContent .lead { font-size: 26px; } 
 #myTabContent ul , #myTabContent ol { margin-bottom: 25px; padding-left: 15px; } 
 #myTabContent li { margin-bottom: 5px; } 
 .product { margin-bottom: 60px; } 
 .slider-nav { float:left; width: 162px; } 
 .slider-nav .item { border:1px solid #e0e0e0; padding: 10px; text-align: center; cursor: pointer; margin-bottom: 15px; } 
 .slider-nav .slick-current .item { border:1px solid #fdd734; } 
 .slider-nav .item img { max-height: 114px; } 
 .slider-nav button { border: 0; width: 30px; background: transparent; text-align: center; margin: 0 auto 20px; display: block; font-size: 25px; color: #aebcce; } 
 .slider-nav button:hover , .slider-nav button:hover { color: #39b04e !important; transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
 .slider-for { float:right; width: calc(100% - 200px); border:1px solid #e0e0e0; padding: 10px; text-align: center; } 
 .slick-slide img { display: inline-block; } 

 .product-details { border:1px solid #e0e0e0; padding:30px; } 
 .product-details header { margin-bottom: 30px; } 
 .product-details header img { float: right; max-height: 40px; } 
 .product-details header span { margin-bottom: 5px; } 
 .reviews ul { display: inline-block; padding: 0; margin: 0 5px 10px 0; } 
 .reviews ul li { display: inline-block; list-style: none; margin-right: 5px; color: #fbbd00; font-size:22px; } 
 .product-details a { color: #41b355; } 
 .product-details .price { padding-top: 20px; margin-bottom: 30px; } 
 .product-details .price p { font-size: 42px; font-weight: bold; } 
 .product-details .price p span { color:#222222; font-size: 35px; } 
 .product-details .quantity { margin-bottom: 30px; } 
 .product-details .quantity span { margin-right: 10px; padding-top: 15px; display: inline-block; } 
 .product-details .price a { color: #000; font-size: 14px; font-weight: 300; text-decoration: underline; text-transform: initial; top: -9px; position: relative; } 
.quantity input[type="button"] { border: 1px solid #aebcce; vertical-align: top; background: #fff; color: #39b04e; width: 45px; height: 45px; font-size: 30px; line-height: 25px; font-weight: bold; } 
.quantity .qty { color: #9d9b9b; height: 45px; margin: 0 -4px 0 -4px; vertical-align: top; border: 0; border-bottom: 1px solid #aebcce; border-top: 1px solid #aebcce; vertical-align: top; width: 3.631em; text-align: center; } 
 .product-details .offer p { margin-bottom: 30px; } 
 .product-details .offer p { font-size:16px; font-weight: bold; } 
 .product-details .offer p span { font-size: 26px; margin-left: 10px; } 
 .product-details .cart-btn { margin-bottom: 30px; width: 100%; border:0; padding: 0; height: 53px; color: #fff; background-color: #ef6c2f; font-size: 16px; font-weight: bold; text-transform: uppercase; } 
 .product-details .cart-btn:hover { background-color:#3cb8eb; } 
 .product-details .wishlist { text-align: center; } 
 .product-details .wishlist a { color:#222222; font-size: 14px; text-transform: uppercase; } 
 .product-details .wishlist a i { color: #fccb36; margin-right: 5px; } 
 .product-details .wishlist a:hover i:before { content: "\f004"; } 

 input[type="number"] { -moz-appearance: textfield; } 
 input[type="number"]:hover, input[type="number"]:focus { -moz-appearance: number-input; } 
 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; } 
 
 @media screen and (max-width: 1200px){
 .product .row { flex-direction: column-reverse; } 
 }

 @media screen and (max-width: 767px){
 .nav-tabs-responsive > li a { display: none; } 
 .nav-tabs-responsive > li > a { max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; width: 100%; width: 100%; text-align: center; vertical-align: top; } 
 .nav-tabs-responsive > li { text-align: center; } 
 .nav-tabs-responsive > li.parent { width: 100%; } 
 .nav-tabs-responsive > li.prev { margin-right: -10px !important; } 
 .nav-tabs-responsive > li.next { margin-left: -10px !important; } 
 .nav-tabs-responsive > li a.active, .nav-tabs-responsive > li.prev a, .nav-tabs-responsive > li.next a { display: block !important; } 
 .nav-tabs-responsive > li.next > a .text, .nav-tabs-responsive > li.prev > a .text { display: none; } 
 .nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.prev > a:after, .nav-tabs-responsive > li.prev > a:after { position: relative; top: 1px; display: inline-block; color: #47bcec; font-family: 'FontAwesome'; font-style: normal; font-weight: 400; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; } 
 .nav-tabs-responsive > li.prev > a:after { content: "\f104"; } 
 .nav-tabs-responsive > li.next > a:after { content: "\f105"; } 
 #myTab li a { font-size: 20px; margin-right: 0px; padding-bottom: 0px; border-bottom: 0; display: none; } 
 .product-info { padding:15px; } 
 #myTab li.parent a ,#myTab li:hover a { color: #222; } 
 #myTabContent .lead { font-size: 21px; line-height: 1.3; } 
 #myTab { margin-bottom: 30px; } 
 .product-details { padding: 15px; } 
 .slider-nav , .slider-for { width: 100%; float: none; } 
 .slider-nav .slick-slide { padding: 5px; } 
 }

.jobs ul.list-unstyled { margin: 0 -30px; } 
.jobs ul.list-unstyled li { width: 33.33%; padding:0 30px; float: left; margin-bottom: 60px; } 
.jobs .job { background: url("../images/careers-post-bg.png") no-repeat; background-size: 100% 100%; padding: 30px 30px 40px; } 
.jobs .job h3 { color:#3cb8eb; font-size: 20px; } 
.jobs .job p { line-height: 1.5; } 
.jobs .job p:last-child { margin-bottom: 0; } 
.jobs .job p span { width: 50%; display: inline-block; font-weight: bold; } 
.jobs .job p span + span { text-align: right; } 
.jobs .job p a { min-width: 100px; text-align: center; } 
.jobs header h2 { display: inline-block; } 
.jobs header nav { float: right; } 
.jobs header nav ul { margin: 0; padding: 0; list-style: none; } 
.jobs header nav li { display: inline-block; margin: 0 20px; } 
.jobs header nav li a { color:#222222; font-size: 18px; font-weight: 300; } 
.jobs header nav li.current a , .jobs header nav li:hover a { color:#3cb8eb; } 

.map { position: relative; padding-bottom: 56.25%; padding-top: 35px; height: 0; overflow: hidden; } 
.map iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; } 
.form .form-control { border-color: #222222; border-radius: 0; } 
.form label { color: #222222; font-size: 15px; } 
.form .form-control:focus { box-shadow: none; } 
.form .button { height: 34px; border:0; min-width: 100px; } 
#content header .container.pb-5 a { color: inherit; } 
@media screen and (min-width:1199px){
 #content header .container.pb-5 { max-width: 1200px !important; } 
 }
@media screen and (max-width: 992px){
 .jobs ul.list-unstyled li { width: 50%; } 
 }

@media screen and (max-width: 767px){
 .jobs ul.list-unstyled li { width: 100%; float:none; } 
 .jobs .job { padding: 40px 15px 30px; } 
 .jobs header nav { float: none; margin: 0 -7px; position: relative; } 
 .jobs header h2 { display: block; margin-bottom: 25px; } 
 .jobs header nav li { margin: 0 7px; } 
 .jobs header nav li:last-child { margin-right: 0; } 
 .jobs header nav li a { font-size: 16px; } 
 }

 .cart-form h1 { font-weight: bold; margin-bottom: 30px; } 
 .cart-form .cart { width: 100%; border-collapse: collapse; margin-bottom: 50px; } 
 .cart-form .cart thead tr { background-color: #f9f9f9; border-top:1px solid #e0e0e0; } 
 .cart-form .cart tbody tr { border-bottom:1px solid #e0e0e0; } 
 .cart-form .cart thead tr th:first-child , .cart-form .cart tbody tr td:first-child { border-left:1px solid #e0e0e0; } 
 .cart-form .cart thead tr th:last-child , .cart-form .cart tbody tr td:last-child { border-right:1px solid #e0e0e0; } 
 .cart-form .cart .product { width: 42%; margin-bottom: 0; } 
 .cart-form .cart .product figure { border: 1px solid #e5e5e5; float: left; margin-right: 25px; } 
 .cart-form .cart .product figure img { max-height: 125px; } 
 .cart-form .cart .product p { margin-bottom: 5px; } 
 .cart-form .cart .product p strong { font-weight: bold; display: block; font-size: 18px; } 
 .cart-form .cart .amount { font-size: 20px; font-weight: bold; color:#ef6c2f; } 
 .cart-form .cart .amount span { font-size: 16px; color: #222222; margin-right: 5px; } 
 .cart-form .cart .quantity input[type="button"] { width: 35px; height: 35px; } 
 .cart-form .cart .quantity .qty { height: 35px; } 
 .cart-form .cart .product-actions a { color: #000000; margin:0 5px; font-size: 18px; } 
 .cart-form .cart tfoot { text-align: right; } 
 .cart-form .cart tfoot button { border: 0; font-size: 16px; text-transform: uppercase; } 
 .cart-form .cart tfoot td { padding-right: 0; } 
 .cart-form .cart th , .cart-form .cart td { padding: 20px; vertical-align: top; } 
 .cart-form .cart .quantity { white-space: nowrap; } 
 .order-summary { border:1px solid #e0e0e0; background-color: #f9f9f9; padding:15px 15px 1px; } 
 .order-summary .button { display: block; width: 100%; margin-bottom: 20px; text-align: center; height: 50px; font-size: 16px; font-weight:bold; line-height: 50px; padding-top: 0; padding-bottom: 0; } 
 .order-summary h3 { font-size: 22px; } 
 .order-summary li { margin-bottom: 18px; color: #222222; font-size: 16px; } 
 .order-summary li span { float: right; font-size:20px; } 
 .order-summary li span span { float: none; font-size: 16px; } 
 .order-summary p a { color: inherit; text-decoration: underline; } 
 .order-summary ul + p { padding-left:25px; position: relative; } 
 .order-summary ul + p input { position: absolute; top: 3px; left: 0; } 
 .order-summary h3 span { float: right; font-weight:300; } 
 .order-summary .cart_item { border-bottom:1px solid #e0e0e0; } 
 .order-summary .product-thumbnail { width: 30%; vertical-align: top; padding-top: 15px; } 
 .order-summary .product-thumbnail figure { border:1px solid #e1e1e1; } 
 .order-summary .product-thumbnail .quantity { text-align: center; margin-bottom: 15px; } 
 .order-summary .product-thumbnail .quantity input[type="button"] { width: 25px; height: 25px; font-size: 20px; line-height: 20px; } 
 .order-summary .product-thumbnail .quantity .qty { height: 25px; width: 40px; margin: 0 -5px 0 -3px; } 
 .order-summary .product-description { padding-left:20px; vertical-align: top; padding-bottom: 20px; padding-top: 15px; } 
 .order-summary .product-description p { margin-bottom: 5px; } 
 .order-summary .product-description .amount { font-weight: bold; font-size: 17px; padding-top: 10px; margin-bottom: 15px; } 
 .order-summary .amount span { font-size: 14px; color: #ef6c2f; padding-right: 5px; } 
 .order-summary .actions a { color: #000000; margin-right: 7px; } 
 .order-summary .cart tfoot { border-top:3px solid #e0e0e0; } 
 .order-summary .cart tfoot td { padding: 7px 0; white-space: nowrap; font-size: 17px; } 
 .order-summary .cart tfoot td:last-child { text-align: right; } 
 .order-summary .cart tfoot tr:first-child td { padding-top: 20px; } 
 .order-summary .cart tfoot tr:last-child td { padding: 20px 0; border-top:1px solid #e0e0e0; } 
 .order-summary .cart tfoot tr:nth-last-child(2) td { padding-bottom: 25px; } 
 .order-summary .cart tfoot td span { font-size: 13px; } 

 @media (max-width: 1300px){
 .cart-form .cart th, .cart-form .cart td { padding: 20px 10px; } 
 }
 
 @media (max-width: 992px){
 .cart-form .cart .amount { font-size: 16px; } 
 .cart-form .cart .product figure img { max-height: 95px; } 
 .cart-form .cart .product figure { margin-right: 15px; } 
 .cart-form .cart .product p strong { font-size: 16px; } 
 }

 @media (max-width: 767px){
 .cart-form .cart thead { display: none; } 
 .cart-form .cart , .cart-form .cart tbody, .cart-form .cart tfoot, .cart-form .cart tbody , .cart-form .cart tr , .cart-form .cart td , .cart-form .cart th { display:block; } 
 .cart-form .cart .product { width: 100%; } 
 .cart-form .cart tbody tr { border:1px solid #e0e0e0; margin-bottom: 20px; position: relative; padding-top: 20px; } 
 .cart-form .cart tbody td { border:0; } 
 .cart-form .cart .product-actions { padding: 0; } 
 .cart-form .cart .product-actions a { position: absolute; right: 0; top: 5px; } 
 .cart-form .cart .product-price , .cart-form .cart .product-subtotal , .cart-form .cart .product-quantity { text-align: right; position: relative; } 
 .cart-form .cart .product-price:before , .cart-form .cart .product-subtotal:before , .cart-form .cart .product-quantity:before { content: attr(data-title); position: absolute; top: 20px; left: 10px; font-weight: bold; font-size: 16px; } 
 .quantity .qty { margin: 0 -3px 0 -3px; } 
 .order-summary .cart tfoot td { white-space: normal; } 
 }

 .user-controls { font-size: 16px; color: #222; margin: 0 -5px 30px; } 
 .user-controls a { font-size: 16px; color: #222; margin: 0 5px; } 
 .user-controls a:hover { color: #41b355; } 

 .user-login { background: url("../images/login-bg.png") no-repeat; background-size: 100% 100%; padding: 40px 40px 1px; margin-bottom: 30px; } 
 .user-login ul { margin: 0 -16px; } 
 .user-login li { clear: both; margin-bottom: 40px; padding: 0 16px; } 
 .user-login .half { width: 50%; clear: right; float: left; } 
 .user-login li .email-field { font-weight:bold; color:#222222; font-size: 16px; background: url(../images/input-bg1.png) no-repeat top left; background-size: 100% 100%; height: 54px; padding: 23px 20px 17px; border:0; width: 100%; } 
 .user-login li .password-field { font-weight:bold; color:#222222; font-size: 16px; background: url(../images/input-bg2.png) no-repeat top left; background-size: 100% 100%; height: 54px; padding: 23px 20px 17px; border:0; width: 100%; } 
 .user-login li .button { border: 0; height: 44px; width: 110px; font-size: 16px; } 
#address { margin-bottom: 20px; } 
#newsletter { margin-right: 10px; } 
@media (max-width: 767px){
 .user-login { padding: 40px 20px 1px; margin-bottom: 0; } 
 .user-login .half { float: none; width: 100%; clear: none; } 
 #breadcrumbs { padding: 15px 0 10px; } 
 }

 .list { margin: 0; padding: 0; list-style: none; margin: 0 -32px; } 
 .list li { float:left; width: 25%; padding:0 32px; margin-bottom: 60px; text-align: center; } 
 .list li a { top:0; display: block; position: relative; } 
 .list li a:hover { top: -20px; } 
 .list li a figure { position: relative; height: 247px; width: 100%; } 
 .list li a figure img { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); max-height: 180px; } 
 .list li p { color: #222222; font-size:19px; font-weight: bold; } 

 .list.brands li a figure { background: url("../images/brands-listing-bg.png") no-repeat top left; background-size: 100% 100%; } 
 .list.category li a figure { background: url("../images/category-listing-bg.png") no-repeat top left; background-size: 100% 100%; } 

 @media (max-width: 1200px){
 .list li { width: 33.33%; } 
 }
 @media (max-width: 992px){
 .list li { width: 50%; } 
 }
 @media (max-width: 767px){
 .list li { width: 100%; float:none; } 
 }

 #content .search-form { float: none; max-width: 300px; } 

 .item .favourite.active {
    color: #faa439;
}
.item .favourite.active .fa {
    color: #faa439;
}
.item .favourite.active .fa-heart-o:before {
    content: "\f004";
}

